@import '../../foundations/var.scss';


/*=======================
news
=======================*/
.c-card__news {
    display: flex;
    border-bottom: 2px solid #E1E1E1;
    padding-top: 4.76rem;
    padding-bottom: 4.76rem;
  
    @include sp {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
    }

    &:last-child {
      flex-wrap: wrap; 
    }
}

  .c-card__news__date {
    font: var(--font-outfit);
    font-size: 1.4rem;
  }
  
  .c-card__news__category {
    padding-left: 3.9rem;
    font: var(--font-outfit);
    font-size: 1.4rem;
    color: #3C3C3C;
  
    @include sp {
      padding-left: 2.2rem;
    }
  }
  .c-card__news__ttl {
    padding-left: 5rem;
    font: var(--font-main);
    font-size: 1.4rem;

  
    @include sp {
      padding-left: 2rem;
      padding-top: 0;
    }

    @media screen and (max-width: 464px) {
      padding-top: 1.6rem;
    }

    @media screen and (max-width: 444px) {
      padding-left: 0;
      padding-top: 1.6rem;
    }
  }
  


/*=========================
footer
=========================*/
.c-card__footer__name {
    padding-top: 1.1rem;
}