@import '../../foundations/var.scss';

.u-padding__mv__news {
    padding-top: 4rem;
    padding-left: 5.6rem;
    padding-right: 8.5rem;

    @include mv-news {
        padding-left: 0;
        padding-right: 0;
    }
}
.u-padding__list__news {
    padding-left: 17.2rem;
    padding-top: 0;

    @include mv-news {
        padding-left: 0;
    }
}
