@import '../../foundations/var.scss';

.g-contactform {
    margin: 0 auto;
    width: 55%;
}

.g-form__item {
    display: flex;
}
.g-form__item:not(:last-child) {
}

.g-form__item:not(:first-child) {
    padding-top: 4.8rem;
}

.g-form__item:nth-child(4) {
    padding-left: 8rem;
}

.g-form__item:nth-child(5) {
    padding-left: 8rem;
}

.g-yubin__flexbox {
    display: flex;
    align-items: center;
}

.g-button__wrap {
    text-align: center;
    margin-top: 7.4rem;
}
